button {
    height: 50px;
    width: 50px;
    border-color: transparent;
    border-radius: 4px;
    background-color: rgba(65, 39, 39, 0.785);
    box-shadow: 3px 3px black;
    color: white;
  }
  .md div {
    padding: 5px;
  }
  input {
    width: 265px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
  }
  .md {
    border: 3px solid black;
    width: 280px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(192, 165, 165);
  }
  button:hover {
    background-color: rgb(92, 115, 115);
  }
  button:active {
    background-color: rgb(74, 94, 135);
  }